body {
  /* Eventually we will keep the gradient, but use two cloud images anchored 
  in the corners. Use media queries to make sure the viewport is 
  wider than than it is tall, otherwise just use the gradient.
  */
  /*background: linear-gradient(#56C7FF, #FFFFFF) no-repeat center center fixed;*/
  background-image: url(./assets/background/1920x1080_staticClouds.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

h1 {
  margin: 0px;
  font-family: Poppins;
  font-style: bold;
  font-size: 40px;
  line-height: 40px;
  color: #FFFFFF;
  -webkit-text-stroke: 1.25px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: flex;
}

/* Tooltip text */
.tooltip .tooltiptext {
  align-self: center;
  justify-self: center;
  visibility: hidden;
  top: 150%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-family: Poppins;
  white-space: pre-wrap;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}